//Galatians 5:22-23 (NIV)
//"But the fruit of the Spirit is love, joy, peace, forbearance, kindness, goodness, faithfulness, gentleness and self-control. Against such things there is no law." 
.keypad {
    height: 40vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    
    .left-side {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    
        .numbers {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 1.4%;
            row-gap: 2%;
            height: 100%;
            justify-content: end;

            .btn {
                font-size: 1.5rem;
                border: none;
                width: 32%;
                height: 25%;
                place-content: center;
                text-align: center;
                border-radius: 5px;
                background-color: #0398fc;
                color: #ffffff;
                cursor: pointer;
                transition: background-color 0.3s;
                @media (max-width: 430px) {
                    width: 30%;
                }
              

                &:hover {
                    background-color: #04edfd;
                }
            }
        }

        .operators {
            display: flex;
            width: 67%;
            justify-content: space around;
            align-items: start;
            gap: 1.5%;
            margin-top: -15%;
            padding-top: 1%;
            border-top: 3px double white;

            @media (max-height: 800px) {
                border-top: none;
                margin-top: -5%;
            }

            .btn {
                font-size: 2.5rem;
                border: none;
                width: 23.5%;
                height: 100%;
                place-content: center;
                text-align: center;
                border-radius: 5px;
                background-color: #04edfd;
                color: #ffffff;
                cursor: pointer;
                transition: background-color 0.3s;

                @media (max-width: 430px) {
                    width: 22%;
                }

                @media (max-height: 800px) {
                    font-size: 1.8rem;
                }
                &:hover {
                    background-color: #0398fc;
                }
            }
        }
    }

    .right-side {
        width: 18%;
        height: 100%;
        .utilities{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 4%;
            height: inherit;
            .btn {
                font-size: 1.5rem;
                border: none;
                width: 80%;
                height: 48%;
                place-content: center;
                text-align: center;
                border-radius: 5px;
                background-color: #04edfd;
                color: #ffffff;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #0398fc;
                }                
            }
        }
    }
}