//Galatians 5:22-23 (NIV)
//"But the fruit of the Spirit is love, joy, peace, forbearance, kindness, goodness, faithfulness, gentleness and self-control. Against such things there is no law." 
.frame {
    height: 50vh;
    width: 80%;
    max-width: 600px;
    border-bottom: 3px solid #000000;

    .display-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: flex-end;
        margin-top: 10px;
        
        ul {
            list-style: none;
            padding: 0 10px;
            margin: 0;
            width: 100%;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: #121212 transparent;
            box-sizing: border-box;

            li {
                color: #fdfdfd;
                font-size: 1.8rem;
                font-family: 'Courier New', Courier, monospace;
                line-height: 2rem;
                text-align: right;
                width: 100%;
                word-wrap: break-word;
            }
        }

        p.calculation {
            color: #ffffff;
            font-size: 2rem;
            font-family: 'Courier New', Courier, monospace;
            margin: 5px;
        }

        p {
            color: #ffffff;
            font-size: 2.5rem;
            font-family: 'Courier New', Courier, monospace;
            margin: 10px;
        }
    }
}
